// @font-face {
//   font-family: 'BEBASNENUBOLD';
//   src: url('/font/bebasneueBold.woff');
//   font-display: swap;
// }

*,
:after,
:before {
  box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  -webkit-text-size-adjust: 100% !important;
}

html * {
  outline: 0;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: PingFangSC-Regular, Helvetica Neue, Microsoft YaHei, "微软雅黑", sans-serif, Helvetica, sans-serif;
}

button,
a {
  border: 0;
}

a {
  text-decoration: none;
  background: transparent;
  -webkit-touch-callout: none
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  vertical-align: middle;
  -webkit-touch-callout: none;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

input {
  line-height: normal;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: none;
  user-select: text;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ACACAC;
}

input::placeholder,
textarea::placeholder {
  color: #ACACAC;
}

textarea {
  overflow: auto;
  user-select: text;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

ul,
ol,
li,
dl,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
em,
i {
  font-weight: normal;
  font-style: normal;
}

#app {
  width: 100%;
  height: 100%;
}

[v-cloak] {
  display: none;
}


// ===== common =====
.page {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: #f7f8fa;
}

.btn {
  &:active {
    -webkit-filter: brightness(90%);
    /* Chrome, Safari, Opera */
    filter: brightness(90%);
  }
}

// ===== Vant =====
.van-image {
  &__img {
    pointer-events: none;
  }

  &.pointer-events-auto {
    > .van-image__img {
      pointer-events: auto;
    }
  }
}

// ===== Vue动画 =====
.shadow-fade-enter-active,
.shadow-fade-leave-active {
  transition: opacity 0.4s $bezierNorm;
}

.shadow-fade-enter,
.shadow-fade-leave-to {
  opacity: 0;
}

// ===== 动画 =====
@keyframes rotate {
  from {
    transform: none;
  }

  to {
    transform: rotate(360deg)
  }
}

/**
 * ----------------------------------------
 * animation scale-up-hor-right
 * ----------------------------------------
 */
@keyframes scale-up-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}

/**
 * ----------------------------------------
 * animation scale-down-hor-right
 * ----------------------------------------
 */
@keyframes scale-down-hor-right {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
  }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

